.name{
    font-weight: bold;
    font-style: oblique;
}
.img{
    background-color: SlateGray;
   border-radius: 50%;
    position: relative;
    width: 20%;
    height: 150%;
    opacity: 0.8;
}
.disc{
    font-weight: bold;
    font-style: oblique;
}
.text-center{
    font-weight: bold;
    font-style: oblique;
}
.card-text{
    font-style: oblique;
    font-weight: bold;
    
}
.card p-3{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.bg-info{
    width: 100%;
}